$max-width: 800px

.header
  background-image: url('/images/bg/header1.png')
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.mask
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .5)

.nav
  background-color: #292929

  &__list
    display: flex
    gap: 5.1rem
    list-style: none

  &__item
    color: #fff
    padding: 25px 0

  &__link
    color: #fff
    text-decoration: none
    font-size: 1.875rem
    font-weight: 300
    line-height: 1.2

.banner
  display: flex
  margin-top: 9.6rem

  &__left
    width: 50%
    display: flex
    align-items: center
    justify-content: center

  &__right
    width: 50%
    color: white

  @media ( max-width: $max-width )
    flex-direction: column
    align-items: center
    gap: 10px

    &__left
      width: 100%

    &__right
      width: 100%

.slogan
  font-size: 4.5rem
  font-weight: 100
  color: #fff
  width: 30rem
  b
    font-weight: 700
