.search
  padding: 80px 20px 60px
  background-color: rgba(41, 41, 41, 0.8)

.row
  margin-bottom: 50px

.label
  font-weight: 300
  font-size: 3rem
  line-height: 1.2
  margin-bottom: 10px

.fields
  display: flex
  flex-direction: row

.field
  background: #fff
  width: calc(50% - 18.5px)

.btn__place
  width: 37px
  color: #fff
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0

.reverse__btn
  color: #fff
  background: #fff
