.container
  display: flex
  font-size: 1.125rem

.sort
  margin-left: auto
  margin-right: 1.25rem

.select
  border: none
  font-size: 1.125rem
  width: fit-content
  outline: none

.limits
  display: inline-flex
  direction: row
  gap: 0.5rem
